201801/Hay_Bale_Fire/21_flow.json
[{"id":"a7d2c708.8f4d78","type":"tab","label":"IoT Flows","disabled":false,"info":""},{"id":"ea48edd7.bcc64","type":"ibmiot in","z":"a7d2c708.8f4d78","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":150,"y":160,"wires":[["986670a.85f019"]]},{"id":"69405524.9f2bfc","type":"debug","z":"a7d2c708.8f4d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":100,"wires":[]},{"id":"986670a.85f019","type":"json","z":"a7d2c708.8f4d78","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":160,"wires":[["8ffc0b09.2dbf58"]]},{"id":"8ffc0b09.2dbf58","type":"function","z":"a7d2c708.8f4d78","name":"add params","func":"msg.payload.time = new Date().getTime();\nmsg.payload.deviceId = msg.deviceId;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["85880f23.f6e23","93f4c279.b8003","69405524.9f2bfc"]]},{"id":"85880f23.f6e23","type":"cloudant out","z":"a7d2c708.8f4d78","name":"","cloudant":"","database":"events","service":"haybale-ori-cloudantNoSQLDB","payonly":true,"operation":"insert","x":650,"y":160,"wires":[]},{"id":"93f4c279.b8003","type":"function","z":"a7d2c708.8f4d78","name":"CtoF","func":"msg.payload.tempF = msg.payload.temp*9/5+32;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["6e0b7ef.e7f438","bf5f2d19.5f1ca","2ba3c749.120358","197df3a9.7f28bc","38c63719.addc98"]]},{"id":"6e0b7ef.e7f438","type":"switch","z":"a7d2c708.8f4d78","name":"tempAlerts","property":"payload.tempF","propertyType":"msg","rules":[{"t":"gte","v":"190","vt":"num"},{"t":"gte","v":"175","vt":"num"},{"t":"gte","v":"150","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1145,"y":331,"wires":[["f864ffbf.9a7fe"],["75518f59.cfb4"],["f919aff1.c10b9"],["df9a2c8e.6040f"]]},{"id":"75518f59.cfb4","type":"template","z":"a7d2c708.8f4d78","name":"Stop air movement","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Fire likely, stop air movement to avoid fanning flames.","output":"str","x":1345,"y":311,"wires":[["b69a7de3.f37e6"]]},{"id":"f864ffbf.9a7fe","type":"template","z":"a7d2c708.8f4d78","name":"On fire","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Call fire services now! Fire expected!","output":"str","x":1305,"y":271,"wires":[["b69a7de3.f37e6"]]},{"id":"df9a2c8e.6040f","type":"switch","z":"a7d2c708.8f4d78","name":"humidityAlert","property":"payload.humidity","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":460,"wires":[["f919aff1.c10b9"],["f919aff1.c10b9"]]},{"id":"f919aff1.c10b9","type":"template","z":"a7d2c708.8f4d78","name":"Fine","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Everything's fine, no alert","output":"str","x":1370,"y":440,"wires":[["b69a7de3.f37e6"]]},{"id":"b69a7de3.f37e6","type":"rbe","z":"a7d2c708.8f4d78","name":"Report by Exception","func":"rbe","gap":"","start":"","inout":"out","property":"payload.status","x":920,"y":540,"wires":[["cf021c84.1ebae","759b50b.5a293b"]]},{"id":"cf021c84.1ebae","type":"debug","z":"a7d2c708.8f4d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":520,"wires":[]},{"id":"759b50b.5a293b","type":"ui_text","z":"a7d2c708.8f4d78","group":"868c3204.0f42c","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload.status}}","layout":"row-spread","x":1110,"y":580,"wires":[]},{"id":"bf5f2d19.5f1ca","type":"ui_gauge","z":"a7d2c708.8f4d78","name":"","group":"868c3204.0f42c","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"F","format":"{{msg.payload.tempF}}","min":"32","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"150","seg2":"175","x":824,"y":58,"wires":[]},{"id":"2ba3c749.120358","type":"ui_gauge","z":"a7d2c708.8f4d78","name":"","group":"868c3204.0f42c","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"20","x":823,"y":98,"wires":[]},{"id":"197df3a9.7f28bc","type":"function","z":"a7d2c708.8f4d78","name":"getTemp","func":"msg.payload = msg.payload.tempF;\nmsg.topic = msg.deviceId + \" temp\";\nreturn msg;","outputs":1,"noerr":0,"x":172,"y":544,"wires":[["29c961cf.b7d8ce"]]},{"id":"29c961cf.b7d8ce","type":"ui_chart","z":"a7d2c708.8f4d78","name":"","group":"5e87bbb4.b48464","order":0,"width":"6","height":"6","label":"Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"240","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":368,"y":548,"wires":[[],[]]},{"id":"38c63719.addc98","type":"function","z":"a7d2c708.8f4d78","name":"replicateEdgeAnalytics","func":"\nmsg.payload.fan = msg.payload.tempF >= 150 && msg.payload.tempF < 175;\nmsg.payload.heater = msg.payload.humidity >= 20 && msg.payload.tempF < 150;\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":160,"wires":[["96cafb27.7aa5b8","92f4ee7d.2f008"]]},{"id":"c9308739.399588","type":"function","z":"a7d2c708.8f4d78","name":"getTemp","func":"msg.payload = msg.payload.tempF;\nmsg.topic = msg.deviceId + \" temp\";\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":280,"wires":[[]]},{"id":"96cafb27.7aa5b8","type":"ui_text","z":"a7d2c708.8f4d78","group":"868c3204.0f42c","order":0,"width":0,"height":0,"name":"","label":"Fan","format":"{{msg.payload.fan ? \"on\" : \"off\"}}","layout":"row-left","x":1350,"y":100,"wires":[]},{"id":"92f4ee7d.2f008","type":"ui_text","z":"a7d2c708.8f4d78","group":"868c3204.0f42c","order":0,"width":0,"height":0,"name":"","label":"Heater","format":"{{msg.payload.heater ? \"on\" : \"off\"}}","layout":"row-left","x":1350,"y":160,"wires":[]},{"id":"868c3204.0f42c","type":"ui_group","name":"Group 1","tab":"5cc6e296.9daa4c","order":1,"disp":true,"width":6},{"id":"5e87bbb4.b48464","type":"ui_group","z":"","name":"Recent History","tab":"5cc6e296.9daa4c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5cc6e296.9daa4c","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
