201801/Hay_Bale_Fire/22_flow_with_alerts.json
[{"id":"f9732223.a5389","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"562e1010.0112b","type":"ibmiot in","z":"f9732223.a5389","authentication":"apiKey","apiKey":"a2a507ca.d85f18","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":294.28123474121094,"y":241.66761016845703,"wires":[["90e40499.6355a8"]],"l":false},{"id":"d1f4efad.0d39e","type":"debug","z":"f9732223.a5389","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":673.2926168441772,"y":235.9658718109131,"wires":[],"l":false},{"id":"90e40499.6355a8","type":"json","z":"f9732223.a5389","name":"","property":"payload","action":"obj","pretty":false,"x":464.2869338989258,"y":225.59086799621582,"wires":[["ac34181e.33ff58"]],"l":false},{"id":"ac34181e.33ff58","type":"function","z":"f9732223.a5389","name":"add params","func":"msg.payload.time = new Date().getTime();\nmsg.payload.deviceId = msg.deviceId;\n\nreturn msg;","outputs":1,"noerr":0,"x":577.2925872802734,"y":230.1107521057129,"wires":[["d1f4efad.0d39e","f3996ea2.77ce7","cef27545.4ab6f8"]],"l":false},{"id":"f3996ea2.77ce7","type":"cloudant out","z":"f9732223.a5389","name":"","cloudant":"","database":"events","service":"haybale-ori-v2-cloudantNoSQLDB","payonly":true,"operation":"insert","x":704.2897415161133,"y":329.7925977706909,"wires":[],"l":false},{"id":"cef27545.4ab6f8","type":"function","z":"f9732223.a5389","name":"CtoF","func":"msg.payload.tempF = msg.payload.temp*9/5+32;\nreturn msg;","outputs":1,"noerr":0,"x":485.28977966308594,"y":358.3721389770508,"wires":[["b1efc217.664df"]],"l":false},{"id":"b1efc217.664df","type":"switch","z":"f9732223.a5389","name":"tempAlerts","property":"payload.tempF","propertyType":"msg","rules":[{"t":"gte","v":"190","vt":"num"},{"t":"gte","v":"175","vt":"num"},{"t":"gte","v":"150","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":624.2840614318848,"y":460.3664302825928,"wires":[["68194f38.b999d"],["435de218.3c580c"],["b7dc4a8b.c2e4b8"],["27017fd1.26e56"]],"l":false},{"id":"68194f38.b999d","type":"template","z":"f9732223.a5389","name":"On fire","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Call fire services now! Fire expected!","output":"str","x":827.2897605895996,"y":410.32100200653076,"wires":[["c85aa908.3873e8"]],"l":false},{"id":"435de218.3c580c","type":"template","z":"f9732223.a5389","name":"Stop air movement","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Fire likely, stop air movement to avoid fanning flames.","output":"str","x":826.0142478942871,"y":456.00567626953125,"wires":[["c85aa908.3873e8"]],"l":false},{"id":"b7dc4a8b.c2e4b8","type":"template","z":"f9732223.a5389","name":"Start air movement","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Dangerously hot, promote air circulation.","output":"str","x":828.0142135620117,"y":499.0056447982788,"wires":[["c85aa908.3873e8"]],"l":false},{"id":"27017fd1.26e56","type":"switch","z":"f9732223.a5389","name":"humidityAlert","property":"payload.humidity","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":766.2812757492065,"y":583.3607444763184,"wires":[["f198c687.5ecf68"],["805a507b.3575b"]],"l":false},{"id":"f198c687.5ecf68","type":"template","z":"f9732223.a5389","name":"Too humid","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Reduce humidity","output":"str","x":832.0142211914062,"y":550.0056762695312,"wires":[["c85aa908.3873e8"]],"l":false},{"id":"805a507b.3575b","type":"template","z":"f9732223.a5389","name":"Start air movement","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Fine","output":"str","x":834.0142078399658,"y":602.0056552886963,"wires":[["c85aa908.3873e8"]],"l":false},{"id":"c85aa908.3873e8","type":"rbe","z":"f9732223.a5389","name":"Report by Exception","func":"rbe","gap":"","start":"","inout":"out","property":"payload.status","x":977.2925697565079,"y":453.2414321899414,"wires":[["1daf6176.4124ef"]],"l":false},{"id":"1daf6176.4124ef","type":"debug","z":"f9732223.a5389","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.status","targetType":"msg","x":1071.2841033935547,"y":388.9545364379883,"wires":[],"l":false},{"id":"a2a507ca.d85f18","type":"ibmiot","z":"","name":"Hay Bale IoT Platform","keepalive":"60","serverName":"y95kxa.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]