201801/Hay_Bale_Fire/22_IoT_to_database.json
[{"id":"eb9e0150.98164","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a965e02b.ddfe3","type":"ibmiot in","z":"eb9e0150.98164","authentication":"apiKey","apiKey":"f157c0dc.e95ca","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":290.2897491455078,"y":148.8835220336914,"wires":[["3cf5fe23.5e7f92"]],"l":false},{"id":"c02477a5.0754a8","type":"debug","z":"eb9e0150.98164","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":541.2840671539307,"y":149.96306228637695,"wires":[],"l":false},{"id":"3cf5fe23.5e7f92","type":"function","z":"eb9e0150.98164","name":"add params","func":"   msg.payload.time = new Date().getTime();\n   msg.payload.deviceId = msg.deviceId;\n   return msg;","outputs":1,"noerr":0,"x":423.28979873657227,"y":148.00850868225098,"wires":[["c02477a5.0754a8","5e67918d.73db9"]],"l":false},{"id":"5e67918d.73db9","type":"cloudant out","z":"eb9e0150.98164","name":"","cloudant":"","database":"events","service":"haybale-ori-201910-cloudantNoSQLDB","payonly":true,"operation":"insert","x":539.2869338989258,"y":206.9005584716797,"wires":[],"l":false},{"id":"f157c0dc.e95ca","type":"ibmiot","z":"","name":"Hay Bale IoT Platform","keepalive":"60","serverName":"2f5the.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]